* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
nav{
  padding: 2rem;
  background-color: bisque;
  display: flex;
  align-items: "center";
  justify-content: space-between;

}
